{% extends "base.html" %}

{% block "left" %}

<table class="table">
</table>

<h4 class="right-block-left">Registered User</h4>
{% url "login" as upload_file %}
<form name="upload" class="form-horizontal left-block-top"  action="{{ upload_file }}" 
    method="POST">
    {% csrf_token %}
  <div class="form-group">
    <label for="email" class="col-md-2 control-label">Email</label>
    <div class="col-md-6">
        <input type="text" class="form-control" id="id_email" name="email" placeholder="Email">
        <div class="form-group error">
            <span class="help-block">{{ form.email.errors }}</span>
        </div>
    </div>
  </div>
  <div class="form-group">
    <label for="password" class="col-md-2 control-label">Password</label>
    <div class="col-md-6">
        <input type="password" class="form-control" id="id_password" name="password" placeholder="Password">
        <div class="form-group error">
            <span class="help-block">{{ form.password.errors }}</span>
        </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" class="btn btn-success" value="Sign in">
    </div>
  </div>
</form>
{% endblock %}

{% block "middle" %}
<div class="line-center">
</div>
{% endblock %}

{% block "right" %}
{% if user_exists %}
    {{user_exists}}
{% endif %}

{% if user_created %}
    {{user_created}}
{% endif %}

<h4 class="right-block-left">New user? Create an account</h4>
<form name="upload" class="form-horizontal form-left-top"  action="{{ upload_file }}" 
    method="POST">
    {% csrf_token %}
  <div class="form-group">
    <div class="col-md-6">
        <input type="text" class="form-control" id="id_first_name" name="first_name" placeholder="First Name">
        <div class="form-group error">
            <span class="help-block">{{ form.first_name.errors }}</span>
        </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-6">
        <input type="text" class="form-control" id="id_last_name" name="last_name" placeholder="Last Name">
        <div class="form-group error">
            <span class="help-block">{{ form.last_name.errors }}</span>
        </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-6">
        <input type="text" class="form-control" id="id_email" name="email" placeholder="Your Email Address">
        <div class="form-group error">
            <span class="help-block">{{ form.email.errors }}</span>
        </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-6">
        <input type="password" class="form-control" id="id_password" name="password" placeholder="New Password">
        <div class="form-group error error-without-list">
            <span class="help-block errorlist">{{ form.password.errors }}</span>
        </div>
    </div>
  </div>
  
  <div class="form-group">
    <div class="col-md-2">
        <input type="submit" class="btn btn-warning" value="Submit">
    </div>
  </div>
</form>

{% endblock %}
