{% extends "base.html" %}
{% block "left" %}
<table class="table">
</table>

{% if invalid %}
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert"
            aria-hidden="true">&times;</button>
        {{invalid}}.
    </div>
{% endif %}
{% if required %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert"
            aria-hidden="true">&times;</button>
        {{required}}.
    </div>
{% endif %}

{% url "top" user.id as upload_file %}
<form name="upload" class="form-horizontal left-block-top"  action="{{ upload_file }}" 
    method="POST">
    {% csrf_token %}
  <div class="form-group login-width">
    <div class="col-md-6">
        <input type="text" class="form-control" id="id_email" name="email" placeholder="Email">
    </div>
  </div>
  <div class="form-group login-width">
    <div class="col-md-6">
        <input type="password" class="form-control" id="id_password" name="password" placeholder="Password">
        <input type="hidden" name="login" value="login">
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-2">
        <input type="submit" class="btn btn-success" value="Sign in">
    </div>
  </div>
</form>
{% endblock %}

{% block "middle" %}
<div class="line-center">
</div>
{% endblock %}

{% block "right" %}
{% if some_error %}
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert"
            aria-hidden="true">&times;</button>
        {{some_error}}.
    </div>
{% endif %}
{% if valid_input %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert"
            aria-hidden="true">&times;</button>
        {{valid_input}}.
    </div>
{% endif %}
{% if valid_email %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert"
            aria-hidden="true">&times;</button>
        {{valid_email}}.
    </div>
{% endif %}
{% if user_exists %}
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert"
            aria-hidden="true">&times;</button>
        {{user_exists}}.
    </div>
{% endif %}
{% if user_created %}
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert"
            aria-hidden="true">&times;</button>
        {{user_created}}.
    </div>
{% endif %}

{% url "login" as login_page %}
<h4 class="right-block-left">New user? Create an account</h4>
<form name="upload" class="form-horizontal form-left-top"  action="{{ login_page }}" 
    method="POST">
    {% csrf_token %}
  <div class="form-group">
    <div class="col-md-6">
        <input type="text" class="form-control" id="id_first_name" name="first_name" placeholder="First Name">
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-6">
        <input type="text" class="form-control" id="id_last_name" name="last_name" placeholder="Last Name">
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-6">
        <input type="text" class="form-control" id="id_email" name="email" placeholder="Your Email Address">
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-6">
        <input type="password" class="form-control" id="id_password" name="password" placeholder="New Password">
    </div>
  </div>
  
  <div class="form-group">
    <div class="col-md-2">
        <input type="submit" class="btn btn-warning" value="Sign up">
    </div>
  </div>
</form>

{% endblock %}
