{% extends "base.html" %}

{% block "top" %}
<div class="text-center">
    <h1> Demo Site </h1>
    <p><hr></p>
</div>
{% endblock %}

{% block "left" %}

{% url "top" as upload_file %}
<form name="upload" class="form-horizontal" enctype="multipart/form-data" 
    action="{{ upload_file }}" method="POST">
    {% csrf_token %}
  <div class="form-group">
    <label for="email_user" class="col-md-2 control-label">Email</label>
    <div class="col-md-6">
      <input type="text" class="form-control" id="id_email_user" name="email_user" placeholder="Email">
    </div>
  </div>
  <div class="form-group">
    <label for="exampleInputFile" class="col-md-2 control-label">File input</label>
    <div class="col-md-10 mytop">
        <input type="file" id="id_ufile" name="ufile">
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" class="btn btn-success" value="Upload">
    </div>
  </div>
</form>

{% endblock %}
