{% extends "base.html" %}

{% block "msg" %}

<div class="col-xs-7 well">
    {% if verified %}
        <div class="alert alert-success">
            Your email id "<b> {{ email }} </b>" is verified successfully.
        </div>
            Click <a href="/login/" >here to login.</a>
    {% elif already_verified %}
        <div class="alert alert-info">
            <b> Heads up! </b>Your email id "{{ email }}" is already been verified.
        </div>
            Click <a href="/login/" >here to login.</a>

    {% else %}
        <div class="alert alert-danger">
            This link has been expired or you are not a registered user.
        </div>
            To create an account <a href="/login/">click here.</a>
    {% endif %}
</div>

{% endblock %}
